[Unit]
AssertPathExists=/home/sfxuser01
Description="Resolves an OpenURL against an SFX instance #%i"
Documentation=https://github.com/mehmetc/sfx-resolve
Requires=network.target
PartOf=sfx-workers.target

[Service]
Type=simple
User=sfxuser01
Group=sfxuser01
WorkingDirectory=/home/sfxuser01
ExecStart=/home/sfxuser01/start.sh %i
Restart=on-failure

[Install]
WantedBy=default.target
